<?xml version="1.0" encoding="utf-8"?>
<configuration>
 
<connectionStrings><add name="EMSEntities" connectionString="metadata=res://*/EMSModel.csdl|res://*/EMSModel.ssdl|res://*/EMSModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(localdb)\MSSQLLocalDB;initial catalog=EMS;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings></configuration>